html {
    overflow: hidden;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}

button:hover {
  background-color: #169d19;
}

canvas {
    width: 100vh;
    height: 90vh;
}