html {
    overflow: hidden;
}

button {
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
}

.generateButton {
    background-color: dodgerblue;
}

.generateButton:hover {
    background-color: royalblue;
}

.runButton {
    background-color: #4CAF50;
}

.runButton:hover {
    background-color: #169d19;
}

.leaderboardButton {
    background-color: red;
}

.leaderboardButton:hover {
    background-color: darkred;
}

canvas {
    width: 100vh;
    height: 90vh;
}

.logout-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.logout-button:hover {
    background-color: #d32f2f;
}